{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 chrome versions"]
        },
        "debug": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-styled-components"
  ]
}
