@font-face {
  font-family: 'AppleSDGothicNeoBold';
  font-style: normal;
  font-weight: 400;
  src: local('AppleSDGothicNeoBold'), local('AppleSDGothicNeoBold'),
       url('../public/fonts/AppleSDGothicNeoBold.woff') format('woff'),
       url('../public/fonts/AppleSDGothicNeoBold.woff2') format('woff2'),
}

// body {
//   font-family: 'AppleSDGothicNeoBold';
// }