@font-face {
  font-family: 'AppleSDGothicNeoM00';
  src: url('../public/fonts/AppleSDGothicNeoM.ttf') format('truetype'),
}

@font-face {
  font-family: 'AppleSDGothicNeoB00';
  src: url('../public/fonts/AppleSDGothicNeoB.ttf') format('truetype'),
}

@font-face {
  font-family: 'AppleSDGothicNeoEB00';
  src: url('../public/fonts/AppleSDGothicNeoEB.ttf') format('truetype'),
}

// 한글을 제외한 부분에서 종종 사용되므로 아래의 범위에서만 사용되게끔 변경(한글은 AppleSDGothicNeo 사용)
// 영문 범위: U+0041-005A(대문자), U+0061-007A(소문자)
// 숫자 범위: U+0030-0039
// 특수문자 범위: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../public/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: 'TitilliumWebBold';
  src: url('../public/fonts/TitilliumWeb-Bold.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
// 한글 범위: U+AC00-D7AF
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../public/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  unicode-range: U+AC00-D7AF;
}
@font-face {
  font-family: 'TitilliumWebBold';
  src: url('../public/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  unicode-range: U+AC00-D7AF;
}

* {
  font-family: 'AppleSDGothicNeoM00';
}

::-webkit-scrollbar       {
    background-color:white;
    width:14px;
}
::-webkit-scrollbar-track {
    background-color:white
}
::-webkit-scrollbar-thumb {
    background-color:#0c0c59;
}

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
