name: Storybook

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci
      - run: npm run build-storybook

      # extract branch name
      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | sed 's/#//')" >> $GITHUB_ENV

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | sed 's/#//')" >> $GITHUB_ENV

      - name: Debug
        run: echo ${{ env.BRANCH_NAME }}

      - name: Deploy to Github Pages(pr)
        uses: peaceiris/actions-gh-pages@v3
        if: env.BRANCH_NAME != 'master'
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./storybook-static
          keep_files: true
          destination_dir: ${{ env.BRANCH_NAME }}
          commit_message: https://Yapp-17th.github.io/Web_2_Client/${{ env.BRANCH_NAME }}

      - name: Deploy to Github Pages(master)
        uses: peaceiris/actions-gh-pages@v3
        if: env.BRANCH_NAME == 'master'
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./storybook-static
          keep_files: true
          commit_message: https://Yapp-17th.github.io/Web_2_Client/
